{% extends "layout.html" %}
{%  autoescape None  %}
{% block body %}
    <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>
        <!-- Custom styles for this template -->
        <link href="{{static_url('starter-template.css')}}" rel="stylesheet">
        <link href="{{static_url('bubble.css')}}" rel="stylesheet">
      </head>
      <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">intelligent-robot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">conversation <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/config">configuration</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/log">diary</a>
          </li>

        </ul>

      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><image src="{{static_url('wukong.png')}}" width="128px"></image>wukong-robot</h1>
            <p>wukong-robot, with flexible and clever brain supporting Chinese system, is an intelligent robot which contains several functions.</p>
        </div>
      </div>

      <div class="container history" id="container">
        {% if not history or len(history) == 0 %}
            <center>
                <p>无聊天记录</p>
            </center>
        {% else %}
          {% for h in history %}
            {% if h['type'] == 0 %}
                {% comment 用户说的话 %}
                <div class="right">
                    <div class="bubble bubble-green">
                        <div class="bubble-avatar"><i class="fas fa-user" width="128px"></i></div>
                        <p style="text-align: left" id="{{ h['uuid']}}">{{ h['text'] }}</p>
                    </div>
                </div>
            {% else %}
                {% comment 机器人说的话 %}
                <div class="left">
                    <div class="bubble bubble-white">
                        <div class="bubble-avatar"><image src="{{static_url('wukong.png')}}" width="64px"></image></div>
                        <p style="text-align: left" id="{{ h['uuid']}}">{{ h['text'] }}</p>
                    </div>
                </div>
            {% end %}
          {% end %}
        {% end %}
      </div> <!-- /container -->

      <br/>

      <div class="container query-form">
          <center>
              <form class="form-inline" action="#">
                    <label for="query" class="col-form-label">说句话吧:</label>
                    <div class="col">
                        <input type="text" class="form-control-plaintext" id="query" placeholder="今天天气如何？">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 CHAT">发送</button>
              </form>
          </center>
      </div>
    </main>
{% end %}
